<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary my-2" (click)="backClicked()">&lt; Back</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" colspan="3">{{this.getTableTitle()}}</th>
                        <th scope="col" colspan="4">Marks: out of 100</th>
                    </tr>
                    <tr>
                        <th scope="col">Student Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">E-Mail</th>
                        <th scope="col">English</th>
                        <th scope="col">Maths</th>
                        <th scope="col">Science</th>
                        <th scope="col">Social Studies</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of studentList">
                        <td scope="col">{{student.studentName}}</td>
                        <td scope="col">{{student.age}}</td>
                        <td scope="col">{{student.email}}</td>
                        <td scope="col">{{student.subject[0].marks}}</td>
                        <td scope="col">{{student.subject[1].marks}}</td>
                        <td scope="col">{{student.subject[2].marks}}</td>
                        <td scope="col">{{student.subject[3].marks}}</td>
                    </tr>
                </tbody>
            </table> -->
            <p-table [value]="studentList" dataKey="studentId">
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col" colspan="3">{{this.getTableTitle()}}</th>
                        <th scope="col" colspan="4">Marks: out of 100</th>
                    </tr>
                    <tr>
                        <th scope="col">Student Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">E-Mail</th>
                        <th scope="col">English</th>
                        <th scope="col">Maths</th>
                        <th scope="col">Science</th>
                        <th scope="col">Social Studies</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-student>
                    <tr>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" class="w-100" [(ngModel)]="student.studentName" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <div>{{student.studentName}}</div>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="number" class="w-100" (blur)="checkValidation($event, 'age', student)" [(ngModel)]="student.age" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <div>{{student.age}}</div>
                                    <span *ngIf="student.error && student.error.age" class="text-danger errorText">
                                        {{student.error.age}}
                                    </span>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="email" class="w-100" (blur)="checkValidation($event, 'email', student)" [(ngModel)]="student.email" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <div>{{student.email}}</div>
                                    <span *ngIf="student.error && student.error.email" class="text-danger errorText">
                                        {{student.error.email}}
                                    </span>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="number" class="w-100" (blur)="checkValidation($event, 'marks', student.subject[0])" [(ngModel)]="student.subject[0].marks" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <div>{{student.subject[0].marks}}</div>
                                    <span *ngIf="student.subject[0].error" class="text-danger errorText">
                                        {{student.subject[0].error}}
                                    </span>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="number" class="w-100" (blur)="checkValidation($event, 'marks', student.subject[1])" [(ngModel)]="student.subject[1].marks" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <div>{{student.subject[1].marks}}</div>
                                    <span *ngIf="student.subject[1].error" class="text-danger errorText">
                                        {{student.subject[1].error}}
                                    </span>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="number" class="w-100" (blur)="checkValidation($event, 'marks', student.subject[2])" [(ngModel)]="student.subject[2].marks" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <div>{{student.subject[2].marks}}</div>
                                    <span *ngIf="student.subject[2].error" class="text-danger errorText">
                                        {{student.subject[2].error}}
                                    </span>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="number" class="w-100" (blur)="checkValidation($event, 'marks', student.subject[3])" [(ngModel)]="student.subject[3].marks" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <div>{{student.subject[3].marks}}</div>
                                    <span *ngIf="student.subject[3].error" class="text-danger errorText">
                                        {{student.subject[3].error}}
                                    </span>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>